{% load static %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script src="{% static 'assets/js/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}" type="text/javascript"></script>


<!--   Core   -->
<script src="{% static 'assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
<!--   Optional JS   -->
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/chart.js/dist/Chart.extension.js' %}"></script>

<!--   G.Maps   -->
<!--  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->

<!--   Argon JS   -->
<script src="{% static 'assets/js/argon-dashboard.min.js?v=1.1.0' %}"></script>
<script>
    let len = 0;
    let maxchar = 450;
    $( '#my-textarea' ).keyup(function(){
        len = this.value.length
        if(len > maxchar){
            return false;
        }
        else if (len > 0) {
            $( "#remainingC" ).html( "Kalan karakter: " +( maxchar - len ) );
        }
        else {
            $( "#remainingC" ).html( "Kalan karakter: " +( maxchar ) );
        }
    })

    const file = document.querySelector('#file');
    file.addEventListener('change', (e) => {
        // Get the selected file
        const [file] = e.target.files;
        // Get the file name and size
        const { name: fileName, size } = file;
        // Convert size in bytes to kilo bytes
        const fileSize = (size / 1000).toFixed(2);
        // Set the text content
        document.querySelector('.file-name').textContent = `${fileName} - ${fileSize}KB`;
    });
</script>
