{% extends 'layouts/base.html' %}
{% load static %}
{% block title %} Profile {% endblock title %}

{% block content %}

    <!-- Header -->
    {% if request.user.is_authenticated %}
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
             style="min-height: 400px; background-image: url(../static/assets/img/theme/profile-cover.jpg) ; background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Merhaba {{ request.user.get_full_name }}</h1>
                        <p class="text-white mt-0 mb-5">Burası senin profil sayfan. Burada profilini görüntüleyebilir veya düzenleyebilirsin.</p>
                        <!--            <a href="#!" class="btn btn-info">Edit profile</a>-->
                    </div>
                </div>
            </div>
        </div>
    {% else %}

        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
             style="min-height: 100px; background-image: url(../static/assets/img/theme/profile-cover.jpg) ; background-size: cover; background-position: center top;">
            <!-- Mask -->
            <span class="mask bg-gradient-default opacity-8"></span>
            <!-- Header container -->
            <div class="container-fluid d-flex align-items-center">
                <div class="row">
                    <div class="col-lg-7 col-md-10">
                        <h1 class="display-2 text-white">Merhaba</h1>
                        <p class="text-white mt-0 mb-5">LETS Academy'e hoş geldin! Panele giriş yapmadan önce bu sayfada profil bilgilerini doldurman gerek. Bilgileri eksiksiz doldurduğundan emin ol lütfen.</p>
                        <!--            <a href="#!" class="btn btn-info">Edit profile</a>-->
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    {% if request.user.is_authenticated %}

        <div class="container-fluid mt--7">

        <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
            <div class="card card-profile shadow">
                <div class="row justify-content-center">
                    <div class="col-lg-3 order-lg-2">
                        <div class="card-profile-image">
                            <a href="#">
                                <img src="../static/assets/img/theme/team-4-800x800.jpg" class="rounded-circle">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="card-header text-center border-0 pt-8 pt-md-4 pb-0 pb-md-4">
                    <div class="d-flex justify-content-between" style="margin-top: 6rem">
                        <a href="#" class="btn btn-sm btn-info mr-4">Fotoğraf Yükle</a>
                        <a href="#" class="btn btn-sm btn-info float-right" style="background-color: #172b4d;border-color: #172b4d;">Fotoğrafı Kaydet</a>
                    </div>
                </div>
                <div class="card-body pt-0 pt-md-4">
                    <div class="row">
                        <div class="col">
                            <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                                <div>
                                    <span class="heading">22</span>
                                    <span class="description">Friends</span>
                                </div>
                                <div>
                                    <span class="heading">10</span>
                                    <span class="description">Photos</span>
                                </div>
                                <div>
                                    <span class="heading">89</span>
                                    <span class="description">Comments</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>
                            {{ request.user.get_full_name }}
                        </h3>
                        <div class="h5 font-weight-300">
                            {{ request.user.email }}
                        </div>
                        <div class="h5 mt-4">
                            <i class="ni business_briefcase-24 mr-2"></i>Solution Manager - Creative Tim Officer
                        </div>
                        <div>
                            <i class="ni education_hat mr-2"></i>University of Computer Science
                        </div>
                        <hr class="my-4" />
                        <p>{{ request.user.bio }}</p>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% if not request.user.is_authenticated %}
    <div class="container-fluid mt--7">
    <div class="row">
    <div class="col-xl-10 center">
{% else %}
    <div class="col-xl-8 order-xl-1">
{% endif %}
<div class="card bg-secondary shadow">
    <form method="POST">
        {% csrf_token %}
        <div class="card-header bg-white border-0">
            <div class="row align-items-center">
                <div class="col-8">
                    <h3 class="mb-0">Hesabım</h3>
                </div>

                {% if request.user.is_authenticated %}
                    <div class="col-4 text-right">
                        <button name="save_changes_onprofile" class="btn btn-sm btn-primary">Değişiklikleri Kaydet</button>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="col-lg-6 center">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'error' %}
                        <div class="alert alert-danger" style="text-align: center">{{ message }}</div>
                    {% elif message.tags == 'success' %}
                        <div class="alert alert-success" style="text-align: center">{{ message }}</div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
        <div class="card-body">
            <h6 class="heading-small text-muted mb-4">Kişisel Bilgiler</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Ad</label>
                            {{ form.first_name }}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Soyad</label>
                            {{form.last_name}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Şehir</label>
                            {{form.sehir}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Doğum Tarihi</label>
                            <div class="input-group-prepend">
                                <span class="input-group-text"><i class="ni ni-calendar-grid-58"></i></span>
                                {{form.dogum_gunu}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Cinsiyet</label>
                            {{form.cinsiyet}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Üniversite</label>
                            {{form.universite}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Sınıf</label>
                            {{form.sınıf}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Bölüm</label>
                            {{form.bolum}}
                        </div>
                    </div>
                </div>
                <div class="row" style="align-items: center;position: center">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Girişim Adı</label>
                            {{form.company_name}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <div class="custom-control custom-checkbox">
                                <input name="team_leader_checkbox" class="custom-control-input" id="customCheck1" type="checkbox" data-toggle="tooltip" title="Ekipte yalnızca tek lider olabileceğini unutma!" {% if request.user.is_teamleader %}checked="checked"{% endif %}>
                                <label class="custom-control-label" for="customCheck1">Ekip Lideriyim</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <hr class="my-4" />
                <h6 class="heading-small text-muted mb-4">Parolanı Oluştur</h6>
                <div class="pl-lg-4">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{form.password}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group">
                                {{form.password2}}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
            <hr class="my-4" />
            <!-- Address -->
            <h6 class="heading-small text-muted mb-4">İletişim Bilgileri</h6>
            <div class="pl-lg-4">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Telefon Numarası</label>
                            {{form.telefon}}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">E-posta adresi</label>
                            {{form.email}}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="form-control-label">Linkedin Hesabı</label>
                            {{form.linkedin_url}}
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-4" />
            <!-- Description -->
            <h6 class="heading-small text-muted mb-4">Hakkımda</h6>
            <div class="pl-lg-4">
                <div class="form-group">
                    <label>Bio</label>
                    {{form.bio}}
                </div>
            </div>
            {% if not request.user.is_authenticated %}
                <div class="col-4 center" style="left: 57%">
                    <button type="submit" class="btn btn-primary my-4" name="complete_profile">Profilimi Tamamla</button>
                </div>
            {% endif %}
        </div>
    </form>
</div>
</div>
</div>
</div>
</div>
</div>

{% include "includes/footer.html" %}

</div>
    </div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}
