{% extends 'layouts/base.html' %}
{% load static %}
{% load django_vimeo_tags %}
{% block title %} Profile {% endblock title %}

{% block content %}
    <div class="header pb-8 pt-lg-8 d-flex align-items-center"
         style="max-height: 300px; background-image: url({% static 'assets/img/theme/profile-cover.jpg' %}) ; background-size: cover; background-position: center top;">
        <!-- Mask -->
        <span class="mask bg-gradient-default opacity-8"></span>
        <!-- Header container -->
        <div class="container-fluid d-flex align-items-center">
            <div class="row">
                <div class="col-lg-7 col-md-10 mt-7">
                    <h1 class="display-4 text-white right">{{ video_header }}</h1>
                    <p class="text-white mt-0 mb-5">{{ video_description }}</p>
                    <!--            <a href="#!" class="btn btn-info">Edit profile</a>-->
                </div>
            </div>
        </div>
    </div>
    <body>
    <!-- Page content-->
    <div class="container mt-5">
        <div class="row">
            <header class="mb-4 row">
                <!-- Post meta content-->
                <div class="text-info fst-italic mb-2">Oluşturma Tarihi: {{ date_created }}</div>
            </header>
            <div class="row">
                <div class="col-xl-10 center">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->

                        <!-- Preview image figure-->
                        <div class="embed-responsive embed-responsive-16by9">
                            {% vimeo video_embedded width=600 %}
                        </div>
                        <!-- Post content-->
                        <div class="mb-5 mt-4">
                            <p class="fs-5 mb-4 drop-caps">{{ video_description }}</p>
                        </div>
                    </article>
                    <!-- Comments section-->
                </div>
            </div>
        </div>
        {% include "includes/footer.html" %}
    </div>
    </body>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}